$colorLightBlue : #6b717f;
$colorLightGrey : #8C8C8C;
$colorWithe : #fff;
$bgColorSucces : green;
$bgColorError : red;
$bgColorWarning : orange;
$titlePink : #BF4080;
$resetPadding : 0;
$paddingOneEm : 1em;
$paddingZero : 0;